$purple: #7477bf;
$purple-dark: #4D4C72;
$bg: whitesmoke;
$text: rgba(0,0,0,0.87);
$grey: rgba(0,0,0,0.25);
$light-grey: #e0e0e0;
$dark-grey: rgba(0,0,0,0.4);
$green: #81C98F;
$light-purple: #7477BF;
$red: #d34040;
$cyan: #5EB6C8;
