.timeline{
  grid-area: timeline;
  canvas{
    margin-top: 16px;
  }
  .justified{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    padding: 0 16px;
    .timebucket{
      margin: auto 0 auto auto;
      a{
        margin-left: 24px;
        font-weight: 100;
        &.active{
          color: white;
          background-color: $green;
          border-radius: 24px;
          padding: 8px 16px;
        }
      }
    }
  }
}

#traffic{
  max-height: 400px;
  display: block;
  width: calc( 100vw - 112px);
}
