.toolbar{
  width: 80px;
  background-color: $purple-dark;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  justify-content: flex-start;
  padding-top: 96px;
  z-index: 1;
  svg{
    display: flex;
    justify-content: flex-start;
    width: 45%;
    margin-top: 24px;
  }
}
